<#@ template debug="false" hostspecific="false" language="C#" inherits="CustomDataGenerator.CustomDataMethods" #>
<#@ output extension=".txt" #>

<#@ assembly name="$(TargetDir)CustomDataGenterator.dll" #>